@model UtaemKomiteV2.Models.Dosya
@{
    List<Tur> turler =  (List<Tur>) ViewBag.turler;

}

<h5>Dosya Ekle</h5>
<hr />

<form id="YeniDosyaEkle" enctype="multipart/form-data">
    <input type="hidden" id="dosyaTuru" value="@Model.tur.isim" />
    <div class="form-group">
        <label for="tur" class="control-label">Dosya Türü</label>
        <select name="tur" id="tur" class="form-control" >
            @foreach (var tur in turler)
            {
                <option value="@tur.isim">@tur.isim</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="budosya" class="control-label"></label>
        <input type="file" class="form-control-file" name="budosya" id="budosya" />
    </div>
    <div class="form-group">
        <input type="submit" value="EKLE" class="btn btn-primary" />
    </div>
</form>

<script>
    $("#YeniDosyaEkle").submit(function (e) {
        e.preventDefault();
        var formData = new FormData();
        var dosya = document.getElementById("budosya").files[0];
        formData.append("dosya", dosya);
        var dosyaTuru = $("#dosyaTuru").val();
        formData.append("tur", dosyaTuru);
        new OzAjax("/Home/YeniDosyaEkle", POST, formData, yeniDosyaEkleBasari).MultiGonder();
        function yeniDosyaEkleBasari(data) {
            if (data == '"Tamam"') {
                window.location = "/Home/Index";
            }
            else {
                new OzModal().Bilgi(data,2000);
            }
        }
    })
</script>
