@{
    string dosyaTuru = ViewBag.dosyaTuru;
}

<h5>Yeni "@dosyaTuru" Ekle</h5>
<hr />

<form id="YeniDosyaEkle" enctype="multipart/form-data">
    <input type="hidden" id="dosyaTuru" value="@dosyaTuru" />
    <div class="form-group">
        <label for="dosya" class="control-label"></label>
        <input type="file" class="form-control-file" name="dosya" id="dosya" />
    </div>
    <div class="form-group">
        <input type="submit" value="EKLE" class="btn btn-primary" />
    </div>
</form>

<script>
    $("#YeniDosyaEkle").submit(function (e) {
        e.preventDefault();
        var formData = new FormData();
        var dosya = document.getElementById("dosya").files[0];
        formData.append("dosya", dosya);
        var dosyaTuru = $("#dosyaTuru").val();
        formData.append("dosyaTuru", dosyaTuru);
        new OzAjax("/Home/YeniDosyaEkle", POST, formData, yeniDosyaEkleBasari).MultiGonder();
        function yeniDosyaEkleBasari(data) {
            if (data == '"Tamam"') {
                window.location = "/Home/Index";
            }
            else {
                new OzModal().Bilgi(data,2000);
            }
        }
    })
</script>
